<!DOCTYPE html>
<html>
<head>
  <title>KineType</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://www.wavesurfer.fm/build/wavesurfer.min.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'http://www.wavesurfer.fm/plugin/wavesurfer.regions.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'http://www.wavesurfer.fm/plugin/wavesurfer.minimap.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'http://www.wavesurfer.fm/plugin/wavesurfer.timeline.js', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag '//cdn.jsdelivr.net/intro.js/1.0.0/intro.min.js', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag '//cdn.jsdelivr.net/intro.js/1.0.0/introjs.min.css', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body>
<%= render partial: "elements/navbar" %>
<%= bootstrap_flash %>


<%= yield %>

</body>
</html>
